*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik";
    color: white;
}
img{
    max-width: 100%;
}
button{
    cursor: pointer;
}
body{
    min-height: 100vh;
    padding:4em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(226, 43%, 10%);
    font-size: 18px;
    text-align: center;
}
main{
    width: 100%;
    max-width: 820px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.name{
    background-color: hsl(235, 46%, 20%);
    overflow: hidden;
}
.profile{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: hsl(246, 80%, 60%);
}
.profile img{
    height: 50px;
    aspect-ratio: 1/1;
    border: 3px solid white;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.name, .profile, .infoBox, .container{
    border-radius: 10px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
h1{
    color: hsl(236, 100%, 87%);
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 0.875em;
    font-weight: 300;
}
h1 span{
    text-align: start;
    font-size: 1.25em;
    color: white;
}
.profile, .options{
    padding: 1.25em;
}
.options{
    display: flex;
    justify-content: space-between;
}
.options button{
    padding: 0;
    background-color: #ffffff00;
    border: none;
    color: hsl(235, 45%, 61%);
}
.options button.focused{
    color: white;
}

.infos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
    gap: 20px;
}
.infoBox{
    padding-top: 15.5%;
    position: relative;
}
.infoBox .clickState{
    height: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    border-radius: 10px;
    background-color: #ffffff00;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.clickState:focus{
    outline: 1px solid rgba(245, 245, 245, 0.542);
}
.infoBox .container{
    width: 100%;
    height: 100.1%;
    position: relative;
    background-color: hsl(235, 46%, 20%);
}
.container.hovered{
    background-color: hsl(235, 46%, 26%);
}
.infoBox .container button{
    background-color: #ffffff00;
    border: none;
}
.infoBox .container .title{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.infoBox .container .title h2{
    font-size: 1em;
    font-weight: 500;
}
.selectedPeriod{
    padding: 0 1em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.selectedPeriod{
    display: none;
}
.selectedPeriod.displayed{
    display: flex;
}
.selectedPeriod h3{
    font-size: 1.5em;
    font-weight: 300;
}
.selectedPeriod p{
    font-size: .75em;
    color: hsl(236, 100%, 87%);
}
.selectedPeriod p span{color: inherit;}
.infoBox:nth-child(1){
    background: hsl(15, 100%, 70%) url("../images/icon-work.svg"); 
    background-repeat: no-repeat;
    background-position:top right;
}
.infoBox:nth-child(2){
    background: hsl(195, 74%, 62%) url("../images/icon-play.svg"); 
    background-repeat: no-repeat;
    background-position:top right;
}
.infoBox:nth-child(3){
    background: hsl(348, 100%, 68%) url("../images/icon-study.svg"); 
    background-repeat: no-repeat;
    background-position:top right;
}
.infoBox:nth-child(4){
    background: hsl(145, 58%, 55%) url("../images/icon-exercise.svg"); 
    background-repeat: no-repeat;
    background-position:top right;
}
.infoBox:nth-child(5){
    background: hsl(264, 64%, 52%) url("../images/icon-social.svg"); 
    background-repeat: no-repeat;
    background-position:top right;
}
.infoBox:nth-child(6){
    background: hsl(43, 84%, 65%) url("../images/icon-self-care.svg"); 
    background-repeat: no-repeat;
    background-position:top right;
}
.attribution { font-size: 11px; text-align: center; position: fixed;bottom: 0;}
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 820px) {
    main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .name{
        display: flex;
        flex-direction: column;

    }
    .profile{
        flex-grow: 1;
        flex-direction: column;
        align-items: start;
        text-align: start;
    }
    h1{
        font-size: .75em;
    }
    h1 span{
        font-size: 2em;
    }
    .options{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .infos{
        grid-column: 2/5;
    }
}